img {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Bigger, darker shadow */
  transition: box-shadow 0.3s ease;
}

img:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); /* Intense shadow on hover */
}

#gallery {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.services {
  background-color: #e3f2fd;
}
