
  <!-- Footer Section -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Footer Logo and Description -->
        <div class="col-md-4 footer-logo">
          <h2 class="jsgoldpoint"><img src="../../assets/images/logo-main.png"></h2>
          <p>We are passionate about delivering outstanding services to our clients.</p>
        </div>

        <!-- Footer Contact Information -->
        <div class="col-md-4 footer-contact">
          <h4>Contact Us</h4>
          <p><strong>Address:</strong>Shop No. 275 .Gurgaon Sector 14, Gurgaon -
            122007 [Near icici Bank]</p>
          <p><strong>Phone:</strong>9540037370</p>
          <p><strong>Email:</strong> {{emailAddress}}</p>
        </div>

        <!-- Footer Links and Social Media Icons -->
        <div class="col-md-4">
          <div class="container mt-5 text-center">
            <h3>Follow Us On</h3>
            <div class="d-flex justify-content-center mt-3">
                <!-- Facebook Icon -->
                <a href="https://www.facebook.com" target="_blank" class="btn btn-primary mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <!-- Instagram Icon -->
                <a href="https://www.instagram.com" target="_blank" class="btn btn-danger mx-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <!-- Twitter Icon -->
                <a href="https://www.twitter.com" target="_blank" class="btn btn-info mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <!-- Google Icon -->
                <a href="https://www.google.com" target="_blank" class="btn btn-light mx-2">
                    <i class="fab fa-google"></i>
                </a>
                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com" target="_blank" class="btn btn-primary mx-2">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
        </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>&copy; 2025 - jsgoldpoint. All rights reserved.</p>
      </div>
    </div>
  </footer>
