
  <!-- Footer Section -->
  <footer>
    <div class="container">
      <div class="row">
        <!-- Footer Logo and Description -->
        <div class="col-md-4 footer-logo">
          <h2 class="jsgoldpoint">jsgoldpoint.com</h2>
          <p>We are passionate about delivering outstanding services to our international clientele.</p>
        </div>

        <!-- Footer Contact Information -->
        <div class="col-md-4 footer-contact">
          <h4>Contact Us</h4>
          <p><strong>Address:</strong>Shop No. 275 .Gurgaon Sector 14, Gurgaon -
            122007 [Near icici Bank]</p>
          <p><strong>Phone:</strong>9540037370</p>
          <p><strong>Email:</strong> {{emailAddress}}</p>
        </div>

        <!-- Footer Links and Social Media Icons -->
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>

          <div class="footer-link mt-4">
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <p>&copy; 2025 - jsgoldpoint. All rights reserved.</p>
      </div>
    </div>
  </footer>
